<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
<!--             <fullstack-logo></fullstack-logo> -->
        </div>
        <ul class="nav navbar-nav">
            <li >
                <a ui-sref-active="active" ui-sref="home">Home</a>
            </li>
            <li >
                <a ui-sref-active="active" ng-click='newGame()'>Play Again</a>
            </li>
            <li >
                <a ui-sref-active="active" ng-click='nextLevel()'>Next Level</a>
            </li>
        </ul>

    </div>
</nav>




<!--         <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>

        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div> -->
<!--         <button class="btn navbar-button">Reset</button>
        <button class="btn navbar-button">New Game</button> -->