// first color palette:
// grey/blue: E7ECF0
// light blue: 9DCCE8
// yellow: 	FBDC30
// gold: 	FCCF00
// ligth pink: FCC3B8
// light aqua: C6F0E2
// bright orange: FE6029

// second color palette:
// white: ECF8F7
// aqua: 81C8B8
// bright pink: EC408A
// brown gold: D49E5C
// navy: 051A32
* {
  box-sizing: border-box;
}

body {

  // background-image: url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/44240BF402.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // repeat fixed center centercover rgba(0,0,0,0)
  // background: #fdfdfd;
  // background-color: #051A32;
  background-color: #C6F0E2;
  font-family: 'Ubuntu Mono', monospace;
  	// font-family: 'VT323', ;
	// font-family: 'Roboto Mono', ;
	// font-family: 'Source Code Pro', monospace;
	// font-family: 'Cousine', monospace;
	// font-family: 'Amatica SC', cursive;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'board/main';
