// first color palette:
// grey/blue: E7ECF0
// light blue: 9DCCE8
// yellow: 	FBDC30
// gold: 	FCCF00
// ligth pink: FCC3B8
// light aqua: C6F0E2
// bright orange: FE6029
// second color palette:
// white: ECF8F7
// aqua: 81C8B8
// bright pink: EC408A
// brown gold: D49E5C
// navy: 051A32
// font-family: 'VT323', ;
// font-family: 'Roboto Mono', ;
// font-family: 'Source Code Pro', monospace;
// font-family: 'Cousine', monospace;
// font-family: 'Amatica SC', cursive;
* {
  box-sizing: border-box;
}
body {
  background-color: #C6F0E2;
  font-family: 'Ubuntu Mono', monospace;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 30px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'board/main';
@import 'testing';
